<div class="container page-header">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-inverse">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
			      	data-target="#menu-items" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand"  routerLink="/">
			      	<i class="fa fa-user-md" aria-hidden="true"></i> Health Analytics
			      </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="menu-items">
			      <ul class="nav navbar-nav">
              <li ><a routerLink="/company" *ngIf="auth.isAuthenticated() && auth.isCurrentUserRoot()">Empresas</a></li>
              <li><a routerLink="/specialty" *ngIf="auth.isAuthenticated() && auth.isCurrentUserAdmin()">Especialidades</a></li>
			        <li><a routerLink="/patient" *ngIf="auth.isAuthenticated() && auth.isCurrentUserOperator()">Pacientes</a></li>
			      </ul>
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">SignIn</a></li>
			        <li><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>
</div>