
/** ========================== HEADER CSS - BEGIN ==================== */ 
.page-header {
	margin-top: 10px;
}

.page-header .navbar-brand i {
	color: white;
	font-size: 1em;
}
/** ========================== HEADER CSS - END ==================== */ 