<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-md-offset-3 text-center">
      <div class="crud-list">
        <h1>Pacientes</h1>
        
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Patient Id" 
            id="searchBox" name="searchBox" #searchBox 
            (keyup.enter)="search(searchBox.value)"/>
          <div class="input-group-addon">
            <button (click)="search(searchBox.value)"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
        
        <div *ngIf="patientList && patientList.length > 0">
          <div *ngFor="let patient of patientList" class="patient-box">
            <p>
                Paciente: {{patient.firstName}} {{patient.lastName}} ({{patient.nuip}})
            </p>
          
            <div>
              <a class="btn btn-primary btn-sm" [routerLink]="['/patient', patient.id, 'event']">
                <i class="fa fa-pencil" aria-hidden="true"></i> Eventos
              </a>
              <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#patientForm" (click)="onSelectDetail(patient)">
                <i class="fa fa-pencil" aria-hidden="true"></i> Editar
              </button>
              <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(patient)">
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="auth.canCreatePatient()">
        <button class="btn btn-create btn-lg" type="button" data-toggle="modal" data-target="#patientForm" (click)="onSelectNew()">
          Crear Paciente
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Patient form -->
<div class="modal fade" id="patientForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngIf="selectedPatient">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Paciente - Info</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" placeholder="Name" id="name" 
              name="name" required="true" [(ngModel)]="selectedPatient.firstName">
          </div>
          <div class="form-group">
            <label for="name">Apellido</label>
            <input type="text" class="form-control" placeholder="Lastname" id="lastname" 
              name="lastname" required="true" [(ngModel)]="selectedPatient.lastName">
          </div>
          <div class="form-group">
            <label for="name">NUIP</label>
            <input type="text" class="form-control" placeholder="#Id" id="nuip" 
              name="nuip" required="true" [(ngModel)]="selectedPatient.nuip">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSave()">Save changes</button>
      </div>
    </div>
  </div>
</div>