.survey-state {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.survey-not-started {
    background-color: red;
}

.survey-started {
    background-color: yellow;
}

.survey-solved {
    background-color: green;
}

.survey-invalid-state {
    background-color: darkgray;
}

.table-event-wrapper {
    margin-bottom: 50px;
}

.table-event-wrapper .event-header{
    margin-right: 20px;
    font-size: 1.5em;
    float: right;
}

.table-event-wrapper .fa-trash {
    color: red;
    cursor: pointer;
}

.patient-nuip {
    font-size:1.8em;
    margin: 0px 0px 30px 0px;
    padding: 0;
}
.patient-nuip span {
    font-size:0.7em;
}

@media (min-width: 576px) {
    .table-event-wrapper {
        width: 70%;
    }

    .patient-nuip {
        font-size:2em;
    }
    .patient-nuip span {
        font-size:0.8em;
    }
}

@media (min-width: 768px) {
    .table-event-wrapper {
        width: 60%;
    }
    .patient-nuip {
        font-size:2em;
    }
    .patient-nuip span {
        font-size:0.8em;
    }
}

@media (min-width: 992px) {
    .table-event-wrapper {
        width: 50%;
    }
    .patient-nuip {
        font-size:2em;
    }
    .patient-nuip span {
        font-size:0.8em;
    }
}
