<h4 *ngIf="!auth.isAuthenticated()">
   This is the HomeComponent and You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>


<div class="container pages-list" *ngIf="auth.isAuthenticated()">
  <div class="col-md-12 text-center">
    <h1>Site templates</h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h3>Common</h3>
      <ul>
        <li>
          <a href="login.html"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Login</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <h3>Zero Pages</h3>
      <ul>
        <li><a href="u_zero/home.html"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Zero Home</a></li>
        <li><a href="u_zero/company.html"> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Company CRUD</a></li>
      </ul> 
    </div>
    <div class="col-md-2">
        <h3>Admin Pages</h3>
        <ul>
        <li><a href="u_admin/home.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Admin Home</a></li>
        <li><a href="u_admin/user.html"> <i class="fa fa-check-circle-o" aria-hidden="true"></i> User CRUD</a></li>
        <li><a href="u_admin/specialty.html"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Specialty CRUD</a></li>
        <li><a href="u_agent/patient.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Patient XRUD</a></li>
        <li><a href="u_agent/event.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Event CRUD</a></li>
        <li><a href="u_admin/survey.html"><i class="fa fa-check-circle-o" aria-hidden="true"></i> SurveyModel CRUD</a></li>
        <li><a href="u_admin/fieldMapping.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Field Mappings</a></li>
        <li><a href="u_admin/massive.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Massive Info</a></li>
      </ul>
    </div>
    <div class="col-md-2">    
      <h3>Agent Pages</h3>
      <ul>
        <li><a href="u_agent/home.html"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Agent Home</a></li>
        <li><a href="u_agent/patientList.html"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Patient List</a></li>
        <li><a href="u_agent/event.html"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Events</a></li>
        <li><a href="u_agent/survey.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Survey</a></li>
      </ul> 
    </div>
    <div class="col-md-2">    
      <h3>Viewer Pages</h3> 
      <ul>
        <li><a href="u_viewer/home.html"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Viewer Home</a></li>
      </ul>
    </div>
  </div>
</div>