<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-md-offset-3">
      <div class="crud-list">
        <h1>Especialidades</h1>
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#specialtyForm" (click)="onSelectNew()">
          Crear Especialidad
        </button>
        <table class="table table-striped table-condensed">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>

          <tr *ngFor="let specialty of specialtyList">
            <td>{{specialty.id}}</td>
            <td>{{specialty.name}}</td>
            <td>
              <a class="btn btn-primary btn-xs" [routerLink]="['/specialty', specialty.id, 'survey-template']">
                <i class="fa fa-pencil" aria-hidden="true"></i> Surveys
              </a>
              <a class="btn btn-primary btn-xs" href="survey.html">
                <i class="fa fa-files-o" aria-hidden="true"></i> Files
              </a>
              <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#specialtyForm" (click)="onSelectDetail(specialty)">
                <i class="fa fa-pencil" aria-hidden="true"></i> Editar
              </button>
              <button class="btn btn-danger btn-xs" type="button" (click)="onDelete(specialty)">
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Specialty form -->
<div class="modal fade" id="specialtyForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngIf="selectedSpecialty">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Especialidad - Info</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" placeholder="Name" id="name" name="name" required="true" [(ngModel)]="selectedSpecialty.name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSave()">Save changes</button>
      </div>
    </div>
  </div>
</div>